# Python
__pycache__/
*. py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Model weights (nếu không dùng Git LFS)
# *.pth

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
patient_records/